# Node
node_modules
dist

# Next.js
.next/
out/

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
.prisma
/generated/prisma

# Env files
.env
.env*.local

# VS Code
.vscode/

.DS_Store
# TypeScript
*.tsbuildinfo

# Capturas de los tests end-to-end
apps/web/e2e/screenshots/
